.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2{
  margin: 0 2vw;
}
.title img{
  width: 3.5vw;
}

/* visual */
.visual{
  height: 100vh;
  background: url("../image/visual_bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: right;
  align-items: center;
}
.visual_cont{
  width: 58.3vw;
  height: 100vw;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.visual_cont span{
  margin-left: 9.7vw;
  font-weight: 900;
  font-size: 3.3vw;
  color: #3b3b3b;
}
.visual_cont .item{
  margin-left: 9.7vw;
}
.visual_cont .item p{
  font-size: 2.1vw;
  font-weight: 00;
  line-height: 3.5vw;
  color: #555555;
}
.visual_cont .item.item01{
  width: 30.0vw;
  height: 21.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 7vw 0 7.1vw 9.7vw;
}
.visual_cont .item.item01 h2{
  font-size: 7.2vw;
  font-weight: 700;
  color: #2b4162;
  letter-spacing: 3.10vw;
}
.visual_cont .item.item01 h2:nth-child(1){}
.visual_cont .item.item01 .line{
  width: 4vw;
  height: 0.28vw;
  background: #1a4079;
  display: block;
  margin-left: -2.5vw;
}
.visual_cont .item.item01 h2:nth-child(2){}

.visual_cont .item.item02{}
.visual_cont .item.item02 p{}

.visual_cont .item.item03{}
.visual_cont .item.item03 p{
  margin: 5vw 0 7.6vw;
}

.visual_cont .item.item04{}
.visual_cont .item.item04 h4{
  font-size: 3.3vw;
  font-weight: 900;
  color: #3b3b3b;
  margin-bottom: 3.1vw;
}
.visual_cont .item.item04 strong{
  font-size: 3.3vw;
  font-weight: 900;
  color: #3b3b3b;
}

/* greetings */
.greetings{
  height: 133.3vw;
  background: url("../image/greetings_bg.jpg") no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greetings_cont{
  text-align: center;
}
.greetings_cont .title{
  font-size: 4.4vw;
  font-weight: 900;
  display: block;
  color: #b58f57;
}

.greetings_cont .item{
  font-size: 2.8vw;
}
.greetings_cont .item h2{
  color: #313131;
  line-height: 4.7vw;
  font-weight: 600;
}
.greetings_cont .item h2 span{
  font-weight: 900;
  color: #151515;
}

.greetings_cont .item11{
  margin: 8.7vw 0 3.4vw;
}
.greetings_cont .item11 h2{}
.greetings_cont .item11 h2 span{}

.greetings_cont .item22{}
.greetings_cont .item22 h2{}
.greetings_cont .item22 h2 span{}

.greetings_cont .item33{
  margin: 5.5vw 0 11.5vw;
}
.greetings_cont .item33 p{
  font-size: 2.8vw;
  font-weight: 900;
  line-height: 4.7vw;
  color: #5a5a5a;
}

.greetings_cont .item44{}
.greetings_cont .item44 strong{
  font-size: 3.5vw;
  font-weight: 900;
  color: #2d4872;
  display: block;
}
.greetings_cont .item44 strong:nth-child(1){}
.greetings_cont .item44 strong:nth-child(2){
  margin: 2.3vw 0;
}
.greetings_cont .item44 span{
  font-size: 2.8vw;
  font-weight: 700;
  color: #2d4872;
  display: block;
}

/* wedding_photo */
.wedding_photo{
  height: 79.2vw;
  background: #fefaf3;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wedding_photo .title{
  margin-bottom: 5.6vw;
}
.wedding_photo .title h2{
  font-size: 4.4vw;
  font-weight: 900;
  color: #b58f57;
}

.wedding_slider{
  width: 86vw;
  height: 55vw;
  background: #151515;
}
.wedding_slider .item{}
.wedding_slider .item img{}

/* family */
.family{
  height: 190vw;
  background: url("../image/family_bg.jpg") no-repeat center center;
  background-size: contain;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.family .title{
  margin-bottom: 8.3vw;
}
.family .title h2{
  font-size: 4.4vw;
  font-weight: 900;
  color: #3b3b3b;
}

.family .desc{
  height: 69.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.family .desc.grooms_side{
  margin-bottom: 1.4vw;
}
.family .desc .item_img{
  width: 50vw;
  height: 100%;
}
.family .desc .item_img.grooms_img{
  background: url("../image/grooms_img.jpg") no-repeat center center;
  background-size: cover;
  margin-right: 1.4vw;
}
.family .desc .item_img.bridal_img{
  background: url("../image/bridal_img.jpg") no-repeat top center;
  background-size: cover;
  margin-left: 1.4vw;
}

.family .desc .item{
  width: 48.6vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.family .desc .item h3{
  font-size: 3.3vw;
  font-weight: 900;
  color: #3b3b3b;
}
.family .desc .item .line{
  width: 40vw;
  height: 0.28vw;
  background: #1a4079;
  margin: 5.6vw 0;
  display: block;
}
.family .desc .item p{
  font-size: 2.2vw;
  font-weight: 700;
  color: #404040;
  line-height: 3vw;
}
.family .desc .item p:nth-of-type(2){
  margin: 3.5vw 0;
}
.family .desc .item p strong{
  display: block;
  font-size: 2.4vw;
  font-weight: 900;
  color: #3b3b3b;
  margin-top: 1.9vw;
}

/* gallery */
.gallery{
  height: 113vw;
  background: #fefaf3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery .title{
  margin-bottom: 7.5vw;
}
.gallery .title h2{
  font-size: 4.4vw;
  font-weight: 900;
  color: #b58f57;
  text-transform: uppercase;
}

.gallery_cont{
  width: 86vw;
  height: 57vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.gallery_cont .desc{
  width: 100%;
  height: 27.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery_cont .desc .item{
  width: 27.8vw;
  height: 100%;
}
.gallery_cont .desc .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .link_btn{
  margin-top: 11.1vw;
}

/* calendar */
.calendar{}